@{
    ViewBag.Title = "Checkout";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    <label>Cardholder Name:</label>
                </td>
                <td>
                    <input type="text" name="name" placeholder="XYZ" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Card Number: </label>
                </td>
                <td>
                    <input type="number" name="cardnumber" placeholder="123-4567-8529" />
                </td>
            </tr>

            <tr>
                <td>
                    <label>Valid Thru:</label>
                </td>
                <td>
                    <input type="date" name=""/>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
